
body {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0; 

}

a{
    color: #999999;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    background: #333333;
    width: 100%;
    height: 45px;
    font-size: 13px;
    
}
 
.header-alignment{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

 .currency{
     display: flex;
     align-items: center;
     color: #999999;
 }

.header-cart-container{
    display: flex;
    width: 147px;
    height: 100%;
}

.header-menu{
    display: flex;
    width: 369px;
    justify-content: space-between;
}

.auth-menu{
    justify-content: space-between;
    display: flex;
}

.auth-item{
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    align-items: center;
    white-space: nowrap;
}

.cart{
    display: flex;
    align-items: center;
    margin-left:23px
}

.angle-down{
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right:  15px;
    color:#999999;
    font-size: 15px; 
    height: 20px;
    border: #333333;
    background: url(images/angle-down-solid.svg) no-repeat right;
    outline: none;
}



.icon-cart{
    display: flex;
    width: 107px;
    padding: 0 20px;
    color: #999999;
    font-size: 15px;
    line-height: 36px;
    align-items: center;
}


.icon-cart:hover {
    background-color: #00c8c8;
    color: white;
    cursor: pointer;
}

.icon-cart:hover a{
  color: white;  
}
.auth-item:hover {
    background-color: #00c8c8;
    color: white;
    cursor: pointer;
}

.auth-item:hover a{
    color: white;
}

.icon-cart:hover .angle-down{
    border: #00c8c8;
    color: white;
    background: url(images/angle-down-solid-white.svg) no-repeat right;
    cursor: pointer;
}


.main-block{
    display: flex;
    width: 100%;
    height: 920px;
    background: url(images/photo.png) no-repeat;
    background-color:#f8f8f8; 
    background-position: 22% 0;
    justify-content: center;
}

.main-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width:1800px ;
    height: 72px; 
}

.logo{
    display: flex;
    font-size: 24px;
    letter-spacing: 1px;
    color: #222222;
    font-family: "Montserrat";
    width: 234px;
    align-items: flex-end;
     
}

.logo-bold{
    font-weight: bold;
    margin-right: 12px;
}
 
.search-container{
    width: 190px;
    height: 30px;
    position: relative;

}

.input-search{
    width: 100%;
    height: 100%;
    background-color: rgba(248,248,248,0);
    border: 1px solid black; 
    padding: 8px 30px 8px 8px;
    outline: none;
    box-sizing: border-box;
}
.icon-search{
    position: absolute;
    right: 10px;
    color: #999999;
    top: 8px;
}

.main-menu-buttons{
    display: flex;
}
@media (max-width:700px){
    .header-cart{
        padding:0; 
        width: 100px;
    }
    .auth-item{
        padding: 5px;
    }
    .header{
        font-size: 12px;
    }
    .icon-cart{
        padding: 5px;
    }
    .angle-down{
        
        font-size: 13px;  
    }
    .cart{
        margin-left:15px;
    }
    .header-menu{
        width: 210px;
    }
}
