
body {
    font-family: 'Montserrat', sans-serif; 
    padding: 0%;
    margin: 0%; 
}

a{
    color: #999999;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    background: #333333;
    width: 100%;
    height: 45px;
}
 
.header-alignment{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

 .currency{
     display: flex;
     align-items: center;
 }

  

.header-section{
    display: flex;
    width: 147px;
    height: 100%;
}

.header-menu{
    display: flex;
    width: 369px;
    justify-content: space-between;
}

.auth-menu{
    justify-content: space-between;
    display: flex;
}

.auth-item{
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    align-items: center;
}

.cart{
    display: flex;
    align-items: center;
    margin-left:23px
}

.fas{
    display: flex;
    font-size: 15px;
    line-height: 36px;
    align-items: center;
}

.angle-down{
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    padding: 10px;
    font-size: 20px; 
    height: 10px;
    border: #333333;
    background: url(images/angle-down-solid.svg) no-repeat center;
}
.icon-cart{
    display: flex;
    width: 107px;
    padding: 0 20px;
    color: #999999;
}


.icon-cart:hover {
    background-color: #00c8c8;
    color: white;
    cursor: pointer;
}

.icon-cart:hover a{
  color: white;  
}
.auth-item:hover {
    background-color: #00c8c8;
    color: white;
    cursor: pointer;
}

.auth-item:hover a{
    color: white;
}

.icon-cart:hover .angle-down{
    border: #00c8c8;
}

.photo-ave{
    width: 100%;
    height: 920px;
    background-color:#f8f8f8; 
}
 

.photo-alignment{
    display: flex;
    justify-content: center;
    max-width: 1163px;
    width: 100%;
}